*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
}

body {
  color: var(--color-primary);
  font-family: var(--font-sans);
}

ul {
  padding: 0;
}

address {
  font-style: normal;
}

a {
  color: inherit;
}
